In [2]:
import pandas as pd
import os
import numpy as np
file = os.path.join("../generated_data", "purchase_data_3.csv")
csv_file = pd.read_csv(file)
csv_file.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Iloni35,20,Male,93,Apocalyptic Battlescythe,4.49
1,1,Aidaira26,21,Male,12,Dawne,3.36
2,2,Irim47,17,Male,5,Putrid Fan,2.63
3,3,Irith83,17,Male,123,Twilight's Carver,2.55
4,4,Philodil43,22,Male,154,Feral Katana,4.11

In [3]:
#Player Count
unique_player = csv_file["SN"].nunique()
player_breakdown = pd.DataFrame({"Total Player": [unique_player]})
player_breakdown

   Total Player
0            74

In [4]:
#Purchasing Analysis (Total)
unique_item = csv_file["Item Name"].nunique()
average_price = csv_file["Price"].mean()
number_purchase = csv_file["Item Name"].count()
total_revenue = csv_file["Price"].sum()
purchasing_analysis_total = pd.DataFrame({"Number of Unique Item": [unique_item],
                                  "Average Purchase Price": [average_price],
                                  "Total Number of Purchases": [number_purchase],
                                  "Total Revenue": [total_revenue]})
purchasing_analysis_total["Average Purchase Price"] = purchasing_analysis_total["Average Purchase Price"].map("${0:,.2f}".format)
purchasing_analysis_total["Total Revenue"] = purchasing_analysis_total["Total Revenue"].map("${0:,.2f}".format)
purchasing_analysis_total

,Average Purchase Price,Number of Unique Item,Total Number of Purchases,Total Revenue
0,$2.92,63,78,$228.10

In [5]:
grouped_gender = csv_file.groupby(["Gender"])
gender_count = pd.DataFrame(grouped_gender.nunique())
purchasing_analysis_gender = pd.DataFrame(gender_count)
purchasing_analysis_gender2 = purchasing_analysis_gender[["SN"]]
percent_gender = (purchasing_analysis_gender2["SN"]/unique_player)*100
purchasing_analysis_gender2["Percentage of Players"] = percent_gender
renamed_gender = purchasing_analysis_gender2.rename(columns={"SN":"Total Count"})
renamed_gender["Percentage of Players"] = renamed_gender["Percentage of Players"].map("{0:,.2f}%".format)
renamed_gender

C:\Users\hongk\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                       Total Count Percentage of Players
Gender
Female                          13                17.57%
Male                            60                81.08%
Other / Non-Disclosed            1                 1.35%

In [66]:
bins = [0,10,14,18,22,26,30,34,40,100]
group_labels = ["< 10","10 - 14","15 - 18","19 - 22","23 - 26","27 - 30","30 - 34","35 - 39","40+"]
pd.cut(csv_file["Age"],bins,labels=group_labels).head()
csv_file["Age Group"] = pd.cut(csv_file["Age"],bins, labels = group_labels)
csv_file.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Iloni35,20,Male,93,Apocalyptic Battlescythe,4.49,19 - 22
1,1,Aidaira26,21,Male,12,Dawne,3.36,19 - 22
2,2,Irim47,17,Male,5,Putrid Fan,2.63,15 - 18
3,3,Irith83,17,Male,123,Twilight's Carver,2.55,15 - 18
4,4,Philodil43,22,Male,154,Feral Katana,4.11,19 - 22

In [53]:
purchase = csv_file.groupby("Age Group")

In [67]:
df['age_counts'] = csv_file.groupby("Age Group")['Age'].count()
df['price_average'] = csv_file.groupby("Age Group")['Price'].mean()
df

TypeError: cannot insert an item into a CategoricalIndex that is not already an existing category

In [57]:
purchase_count = purchase["Age"].count()
avg_purchase_price = purchase["Price"].mean()
total_purchase_value = purchase["Price"].sum()
purchasing_analysis_total = pd.DataFrame({"Number of Unique Item": [purchase],
                                  "Average Purchase Price": [total_purchase_value],
                                  "Total Number of Purchases": [avg_purchase_price],
                                         "Age Group": [purchase]})
avg_purchase_price

Age Group
< 10       2.764000
10 - 14    2.986667
15 - 18    2.764545
19 - 22    3.017000
23 - 26    2.939565
27 - 30    2.692500
30 - 34    2.034000
35 - 39    3.717143
40+             NaN
Name: Price, dtype: float64

In [56]:
purchasing_analysis_total

,Average Purchase Price,Number of Unique Item,Total Number of Purchases
0,Age Group < 10 13.82 10 - 14 8.96 15...,<pandas.core.groupby.DataFrameGroupBy object a...,Age Group < 10 2.764000 10 - 14 2.986...